.row> div{
	padding: 10px;
	background: #A9D0F5;
	border: 1px solid #fff;
	
}
.row{
	margin: 40px auto;
	
}
h1{
	font-size:60px;
	font-family: Impact;
}
body{
	background: #122759;
}

/*Menu Despegable */

#header{
	
	margin:auto;
	height: 60px;
	width:center;
	font-family;Futura Bk BT;
	background-color: #0f71ba;
	
}

ul, ol{
	z-index:1000;
	list-style:none;
}

.nav li a{
	
	background-color: #0f71ba;
	color:#fff;
	text-decoration: none;
	padding:15px 50px;
	display:block;
}

.nav li a:hover{
	background-color:#8293C2;
}
.nav> li{
	float:left;
}
.nav li ul {
	display:none;
	position:absolute;
	min-width:140px;
}

.nav li:hover >ul{
	display:block;
}
	
	/*Imagenes  */
.slider{
	width:95%;
	margin:auto;
	overflow: hidden;
}

.slider ul{
	display:flex;
	padding:0;
	width: 400%;
	/*animacion y tiempo de las imagenes que pasaran  */
	animation: cambio 20s infinite alternate linear;
}


.slider li{
	width: 100%;
	list-style:none;

}
.slider img{
	width:100%;
}
@keyframes cambio {	
	0%{margin-left: 0;}
	20%{margin-left: 0;}
	
	25%{margin-left: -100%;}
	45%{margin-left: -100%;}
	
	50%{margin-left: -200%;}
	70%{margin-left: -200%;}
	
	75%{margin-left: -300%;}
	100%{margin-left: -300%;}
	
	}

.nav> img{
	width:50%;
	height:100%;
}